
body {
  background-image: url("./img/background/greca4.png");
  background-size: 5px;
  background-color: white;
  text-align: justify;
  }

.left{
  background-image: url("./img/background/greca5.png");
  background-size: 5px;
  width: 500px;
  padding: 50px;
  float: left;
  margin: 10px;
  border-radius: 18px;
  font-family: serif;
  font-size: 25px;
}

.center{
  width: 500px;
  padding: 50px;
  float: left;
  margin: 10px;
  font-family: sans-serif;
  background: white;
  border-radius: 18px;
  font-size: 20px;
  }

.right{
  background-image: url("./img/background/greca7.png");
  background-size: 5px;
  position: fixed;
  width: auto;
  height: auto;
  right: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 18px;
}

ul li{
  list-style: none;
  font-style: oblique;
  font-size: 20px;
}

.me img{
  border-radius: 100%;
  height: 350px;
}

.hobbies img{
  border-radius: 20%;
  height: 100px;
}

h1{
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  font-color:#ffffff;
  font-family: serif;
}

.contact{
  display: grid;
  text-align: center;
}

.contact img{
  height: 50px;
  margin: 10px;
}

#n1 {
  /* NOTE: MIGUEL */
  text-align: left;
}

#n2 {
  /* NOTE: VEGA */
  text-align: center;
}

#n3 {
  /* NOTE: GONZÁLEZ */
  text-align: right;
}
